---
import Layout from "@/layouts/layout.astro";
import menuItems from "@/data/menu-items.json";
import MenuTab from "@/components/menu-tab.astro";
import MenuTabContent from "@/components/menu-tab-content.astro";
---

<Layout isTransparent={false}>
  <section id="menu" class="bg-base-200 min-h-[80vh]">
    <div class="container mx-auto px-4 pt-28 pb-12 xl:max-w-6xl">
      <h2
        class="text-base-content mb-2 text-xl font-semibold uppercase md:text-3xl"
      >
        Menu
      </h2>
      <div class="menu-tabs">
        <div class="tabs tabs-box flex-nowrap overflow-x-auto">
          {menuItems.map((menuItem) => <MenuTab tabId={menuItem.category} />)}
        </div>
        {
          menuItems.map((menuItem) => (
            <MenuTabContent tabId={menuItem.category} items={menuItem.items} />
          ))
        }
      </div>
    </div>
  </section>
</Layout>
