<article id="hours" class="flex-1">
  <div class="card bg-base-100 rounded-none shadow-sm">
    <div class="card-body text-lg">
      <h2
        class="text-base-content mb-2 text-xl font-semibold uppercase md:text-3xl"
      >
        Hours
      </h2>
      <p>
        <span class="font-semibold">Mon</span>: 3pm - 10pm <br />
        <span class="font-semibold"> Tues - Sun </span>: 11:30am - 10pm
      </p>
      <p>
        <span class="font-semibold">Lunch Specials:</span>
        <br />
        Tues - Fri: 11:30am - 5pm
      </p>
      <p>
        <span class="font-semibold">Happy Hour:</span>
        <br />
        Tues - Fri: 3pm - 7pm
      </p>
    </div>
  </div>
</article>
