---
import Popular from "@/icons/popular.astro";
import Spicy from "@/icons/spicy.astro";
import Vegan from "@/icons/vegan.astro";
---

<div class="bg-base-100 mb-4 rounded-lg p-6 shadow">
  <h3 class="card-title mb-2 font-semibold uppercase">Legend</h3>
  <div class="flex items-center gap-1">
    <Popular />
    <p>Popular</p>
  </div>
  <div class="flex items-center gap-1">
    <Spicy />
    <p>Spicy</p>
  </div>
  <div class="flex items-center gap-1">
    <Vegan />
    <p>Vegan</p>
  </div>
</div>
