---
interface Props {
  tabId: string;
  checkedTab: string;
  label: string;
}

const { tabId, checkedTab, label } = Astro.props;
---

<label class="tab shrink-0">
  <input
    type="radio"
    name="menu-tabs"
    id={tabId}
    class="hidden"
    checked={tabId === checkedTab}
  />
  {label}
</label>
