<div class="card bg-base-100 order-1 shadow-sm lg:order-2">
  <div class="card-body">
    <span class="text-sm font-normal uppercase">Every Wednesday</span>
    <h2 class="card-title">Recurring &mdash; Pub Trivia</h2>
    <p class="max-w-[60ch]">
      Every Wednesday, grab your smartest friends and put your knowledge to the
      test. Bragging rights, prizes, and a round on the house for the winning
      table.
    </p>
  </div>
</div>
