<div class="drawer-side z-50">
  <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"
  ></label>
  <ul class="menu bg-base-200 min-h-full w-80 p-4 text-xl uppercase">
    <!-- Sidebar content here -->
    <li><a href="/#home" onclick="closeDrawer()">Home</a></li>
    <li><a href="/food-menu" onclick="closeDrawer()">Food Menu</a></li>
    <li><a href="/beer-menu" onclick="closeDrawer()">Beer Menu</a></li>
    <li><a href="/events" onclick="closeDrawer()">Upcoming Events</a></li>
    <li><a href="/contact" onclick="closeDrawer()">Contact</a></li>
  </ul>
</div>

<script is:inline>
  window.closeDrawer = () => {
    document.getElementById("mobile-navigation").checked = false;
  };
</script>
