---
import GalleryItem from "@/components/gallery-item.astro";
import galleryImages from "@/data/gallery-items.json";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/gallery-images/*.jpg",
);

const items = await Promise.all(
  galleryImages.map(async (item) => {
    const imagePath = `/src/images/gallery-images/${item.image}`;
    const imageLoader = images[imagePath];
    if (!imageLoader) throw new Error(`Image not found: ${imagePath}`);
    const image = (await imageLoader()).default;
    return {
      ...item,
      slug: item.image.slice(0, item.image.length - 4),
      image,
    };
  }),
);
---

<section id="gallery" class="bg-base-200">
  <div class="container mx-auto px-4 py-12 xl:max-w-6xl">
    <h2
      class="text-base-content mb-2 text-xl font-semibold uppercase md:text-3xl"
    >
      Gallery
    </h2>
    <div class="grid grid-cols-2 gap-2 md:grid-cols-3 lg:grid-cols-4">
      {items.map((item) => <GalleryItem image={item.image} item={item} />)}
    </div>
  </div>
</section>
