---
import { Menu } from "@lucide/astro";

interface Props {
  isTransparent?: boolean;
}
const { isTransparent = false } = Astro.props;
---

<header
  id="site-header"
  class={`fixed top-0 right-0 left-0 z-40 w-full transition-all duration-300 ease-in-out ${
    isTransparent
      ? "bg-transparent text-base-100"
      : "bg-base-100 text-base-content"
  }`}
>
  <div class="container mx-auto xl:max-w-6xl">
    <nav class="px-4 py-4">
      <div class="flex items-center justify-between">
        <div class="flex-1">
          <h1 id="brand" class="font-display text-2xl font-bold md:text-4xl">
            <a href="/">WURST & ALE</a>
          </h1>
          <p
            class={`hidden text-sm uppercase md:inline ${isTransparent ? "text-base-100/80" : "text-base-content/80"}`}
          >
            3400 Southport Ave. Chicago, IL 60631 | TEL: <a
              href="tel:+15551234567">(555) 123-4567</a
            >
          </p>
        </div>
        <div id="navigation" class="hidden flex-none lg:block">
          <ul class="flex gap-4 text-2xl font-semibold uppercase">
            <li><a href="/food-menu">Food</a></li>
            <li><a href="/beer-menu">Beer</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <div id="burger-menu" class="block lg:hidden">
          <label
            for="mobile-navigation"
            aria-label="open sidebar"
            class={`btn btn-square btn-ghost drawer-button ${isTransparent ? "text-base-100" : "text-base-content"}`}
          >
            <Menu size={32} />
          </label>
        </div>
      </div>
    </nav>
  </div>
</header>

<style>
  .scrolled {
    background-color: oklch(98% 0.016 73.684);
    box-shadow:
      0 1px 3px 0 rgb(0 0 0 / 0.1),
      0 1px 2px -1px rgb(0 0 0 / 0.1);
  }

  .scrolled #brand,
  .scrolled li,
  .scrolled label {
    color: oklch(46.44% 0.111 37.85);
  }

  .scrolled p {
    color: oklch(46.44% 0.111 37.85 / 0.8);
  }
</style>

<script>
  const header = document.querySelector("#site-header")! as HTMLDivElement;
  const threshold = header.offsetHeight;

  function handleScroll() {
    if (window.scrollY > threshold) {
      header.classList.add("scrolled");
    } else {
      header.classList.remove("scrolled");
    }
  }

  window.removeEventListener("scroll", handleScroll);
  window.addEventListener("scroll", handleScroll, { passive: true });
  handleScroll();
</script>
