---
import { getImage } from "astro:assets";
import sausagesSrc from "@/images/sausages.webp";

const sausages = await getImage({
  src: sausagesSrc,
  format: "avif",
  quality: 70,
});
---

<section
  id="home"
  class="relative flex min-h-[80vh] items-center justify-center bg-cover bg-center bg-no-repeat"
  style={`background-image: url(${sausages.src});`}
>
  <div
    class="pointer-events-none absolute inset-0 bg-linear-to-b from-black/75 via-black/10 to-transparent"
  >
  </div>
  <div class="flex flex-col items-center gap-2">
    <h1
      class="font-display text-base-100 bg-primary relative z-10 p-2 px-4 text-4xl font-bold tracking-wide uppercase"
    >
      Sports. Beer. Encased meats.
    </h1>
    <p class="text-base-100 p-2 text-2xl">
      Your new favorite joint in Lakeview.
    </p>
  </div>
</section>
