---
import Hours from "../components/hours.astro";
import Location from "../components/location.astro";
---

<section id="hours-location" class="bg-base-200 min-h-[80vh]">
  <div class="container mx-auto px-4 py-12">
    <div class="flex flex-col items-start justify-between gap-4 md:flex-row">
      <Hours />
      <Location />
    </div>
  </div>
</section>
